body,
html {
  height: 100%
}

body {
  margin: 0;
  font-family: 'Lusitana', Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productSection {
  font-family: 'Lusitana', Georgia, serif;
}

/* Header CSS */

.headerContainer {
  border-bottom: 1px solid black;
  width: 100%;
  font-family: 'Lusitana', Georgia, serif;
}

.headerRow {
  align-items: center;
}

.mdbNavBar {
  position: absolute;
  z-index: -1;
}


/* Product CSS */

img{
}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.rowChild{
  max-height: 50%;
}

.container{
  max-height: 50%;
}

/* About CSS */

.aboutRow {
  height: 46.5%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

/* Single Product CSS */

.productSingle {
  /* width: 30%; */
}

.productThumb {
  /* height: 15% !important; */
}